* {
  margin: 0.5em;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: lightcoral;
  color: white;
}

.main-content {
  background-color: white;
}

.content-title {
  text-align: center;
  color: white;
}

.moves {
  margin: 0 18rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

button {
  color: lightcoral;
  background-color: white;
  padding: 1rem 1.2rem;
  border-radius: 12px;
}

button:hover {
  color: white;
  background-color: lightcoral;
}

.round {
  display: flex;
  justify-content: space-between;
  margin: 0rem 18rem;
}

.count {
  margin: 0rem 18rem;
  display: flex;
  justify-content: space-between;
}

.images {
  display: flex;
  justify-content: space-between;
  margin: 0rem 18rem;
}

.hidden {
  display: none;
}

.end-game {
  text-align: center;
  padding-bottom: 1rem;
}

@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }

  .images {
    margin: 0 0;
  }
}
